<div class="page-header">
    <h1>This is test Dashboard template!</h1>
</div>

{{ link_to('supermodule', 'Supermodule') }}
<br>
{{ link_to('crudgen', 'Crudgen') }}<br>
{{ link_to('index', 'Home') }}   
<br><br>
{{ link_to(config.modules.authreg.logoutLink, 'Logout') }}

<p>Test!</p>
