<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<!-- Morris.js charts -->

<script src="/modules/supermodule/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
<script src="/modules/supermodule/js/bootstrap.min.js" type="text/javascript"></script>
<script src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js" type="text/javascript"></script>

<script src="/modules/supermodule/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="/modules/supermodule/js/AdminLTE/app.js" type="text/javascript"></script>
