{% if status == 'off'%}
    <a href="/supermodule/change/on/{{id}}" style="color:green">On</a>
{% endif %}  

{% if status == 'on'%}
    <a href="/supermodule/change/off/{{id}}" style="color:red">Off</a>
{% endif %}  