<ul class="sidebar-menu">

<li {% if activeMenu is defined and activeMenu == 'index' %} class="active" {% endif %}>
    <a href="/supermodule">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
</li>    

</ul> 
