<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<!-- Morris.js charts -->
{{ javascript_include("modules/crudgen/js/jquery-ui-1.10.3.min.js") }}
{{ javascript_include("modules/crudgen/js/bootstrap.min.js") }}
<script src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js" type="text/javascript"></script>
{{ javascript_include("modules/crudgen/js/plugins/datatables/dataTables.bootstrap.js") }}

{{ javascript_include("modules/crudgen/js/AdminLTE/app.js") }} 
